<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- html 캐싱 제거 -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="Expires" content="0">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script th:inline="javascript">
    const user = [[${session.loginUser}]]
    if(user == null) { 
      alert("사장님 전용페이지 입니다. 로그인 해 주세요"); 
      location.href="/ceo/login";
    }
  </script>
</head>
<body>
    <header>
            <div>
                    <a>가게 등록</a>
                    <a>가게 상세정보 등록</a>
                    <a>가게 메뉴 등록</a>
                    <a>내 가게 조회</a>
            </div>
    </header>
</body>
</html>